*{
    margin: 0;
    padding: 0;
}

body{
        /* background-image: url(back.jpg); */
        background: linear-gradient(to top, rgba(8, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%), url(back.png);
        background-position:center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;


}

#heading{
    color: white;
    font-family: 'Supermercado One', cursive;
    font-size: 7vh;
}
/* .main{ */
    /* background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background: linear-gradient(to top, rgba(8, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%), url(back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
} */


ul{
    background-color: hsl(201, 50%, 50%);
    line-height: 40px;
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
li{
    border-right: 1px solid transparent;
    border-radius: 7px;
    padding: 0px 50px;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* float: left; */
}

.insearch{
    height: 25px;
    width: 300px;
    border-radius: 5px;
    line-height: 40px;
    border: 0px;
}

a{
    text-decoration:none;
    color: white;
}
a:hover{
    color: black;
}
li:hover{
    background-color: hsl(201, 100%, 50%);
    transform: scaleY(1.07);
}

.login{
    border: 1px solid transparent;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);/* rgba(45, 45, 45, 0.5);*/
    margin: 70px 70px 70px 70px;
    padding: 10px 10px;
    box-shadow: 5px 4px 25px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login:hover{
    transform: scale(1.08);
}

.side{
    margin: 250px 50px;
}

#flex{
    display: flex;
    flex-direction: row;
}

.user{
    margin: 10px 20px;
    padding-left: 5px; 
    /* background-color: hsla(grey, 80%, 25%,0.5); */
    background-color: hsla(49, 1%, 44%, 0.26) ;
    border-radius: 7px;
    width: 300px;
    height: 40px;

    
}

.user:hover{
    transform:scale(1.1);
}


.btn{
    width: 300px;
    height: 40px;
    margin: 5px 20px;
    /* margin: 10px 10px 10px 100px; */
    border: 0px solid transparent;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(39, 142, 223, 1);
    font-family: monospace;
}

.btn:hover{
    transform: scale(1.1);


}

.put{
    margin: 25px 0px 25px 0px;
}
.logo{
    width: 100px;
    border-radius: 100%;
    margin: 20px 100px 20px 130px;
    box-shadow: 5px 4px 25px 5px black;
    border: 0px solid transparent; 
}

.logo:hover{
    animation-duration: 1s;
    animation-name: logoturn;
}

@keyframes logoturn{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.login-head{
    position: relative;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

p{
    font-family:monospace;
    font-size:x-large;
    color: thistle;
    display: flex;
    flex-direction: column;

}


.foot{
    height: 250px;
    width: 100%;
    background-color: hsla(192, 46%, 40%,0.6);
    border-top: 35px solid rgba(39, 142, 223, 0.2);
    
}

/* .forgot-password{
    color:black;
    font-size: large;
    font-family: monospace;
    position: relative;
    left: 60px;
}

.forgot-password:hover{
    text-decoration: underline;
}

.signup{
    color:black;
    font-size: large;
    font-family: monospace;
    position: relative;
    left: 45px;

}
.signup:hover{
    text-decoration: underline;
} */

.forgot{
    color:black;
    font-size: large;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    line-height: 2px;
    text-align: end;
    border: 1px solid black;
    
}

.paragraph{
    margin: 0px 40px;
}
